.container {
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 20px;
}

.card-home {
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card-title {
  background-color: #3a6ea5;
  color: white;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: -20px -20px 10px -20px;
  text-align: center;
}

.about-us-text {
  margin: 0;
  padding: 10px;
  color: #333;
  font-size: calc(1vw + 1vh);
}

.due-date {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  text-align: center;
}

.due-date-line {
  border-bottom: 1px solid #ccc;
}

.due-date-bottom {
  margin-bottom: -10px;
}

.due-date .due-date-title {
  font-size: 14pt;
  width: 70%;
  text-align: left;
}

.due-date .due-date-text {
  font-size: 12pt;
  width: 10%;
}

.due-date .due-date-date {
  color: brown;
}
