.duedate {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: white;
  position: relative;
}

.duedate-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.duedate-duedate {
  font-size: 1.4em;
  color: brown;
  font-weight: bold;
}

.duedate-body {
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.duedate-text {
  margin-right: 16px;
  width: 60%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: larger;
}

.duedate-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%; /* Adjusted to a percentage of the parent container for consistency */
  max-width: none; /* Remove the max-width or adjust as necessary */
}

.duedate-image img {
  max-height: 45vh;
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures the image covers the entire container without stretching */
}

.duedate-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 8px;
  font-size: 0.9em;
  color: #666;
}
