body,
html {
    margin: 0;
    padding: 0;

    scrollbar-gutter: stable; /* Adds permanent scrollbar space for classic scrollbars  */
}

.main-body {
    min-height: calc(100vh - 418.49px);

    display: flex;
    flex-direction: column;
}
